h1{
  text-align: center;
  font-family: sans-serif;
}

.todo{
  display: grid;
  grid-template-columns: auto auto;
  font-family: sans-serif;
}

.izq{
  text-align: center;
  font-family: sans-serif;
}

.der{
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  font-family: sans-serif;
}
.formulario{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto
}
.item1{
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 3px;
}
.item2{
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 3px;
}
.item3{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 0;
  grid-row-end: 1;
  padding: 3px;
}
.item4{
  grid-column-start: 6;
  grid-column-end: 7;
  padding: 3px;
}
input{
  width: 93%;
  padding: 10px;
  font-family: sans-serif;
}
.boton1{
  grid-column-start: 5;
  grid-column-end: 7;
  height: 35px;
  padding: 3px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: lightblue;
  color: white;
}
.item5{
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 3px;
}
.boton2{
  height: 40px;
  padding: 3px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: pink;
  color: white;
}
.item6{
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 3px;
}
.boton3{
  height: 40px;
  padding: 3px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: green;
  color: white;

}